.box{
    border-radius: 5%;
    margin-top: 10%;
    margin-left: 37%;
    margin-bottom: 5%;
    margin-right: 37%;
    background-color: rgb(245, 226, 220);
    height: 400px;
}
h1{
    padding-top: 40px;
    margin-left: 10%;
    color: black;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
.h2{
    margin-left: 10%;
    color: gray;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.box1{
    color: gray;
    background-color: white;
    margin-left: 10%;
    margin-right: 10%;
    border-style: solid;
    font-size: 15px;
    border-radius: 5px;
    border-width: 1px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 250%;
    height: 1cm;
    
}
.box2{
    margin-top: 5px;
    color: gray;
    background-color: white;
    margin-left: 10%;
    margin-right: 10%;
    border-style: solid;
    font-size: 15px;
    border-radius: 5px;
    border-width: 1px;
    font-family: Arial, Helvetica, sans-serif;
    height: 1cm;
    text-align: center;
    line-height: 250%;
}
.h3{
    margin-left: 10%;
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
}
.box3{
    color: gray;
    background-color:whitesmoke;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 15px;
    border-radius: 5px;
    border-width: 1px;
    font-family: Arial, Helvetica, sans-serif;
    height: 1cm;
    padding-left: 2.5mm;
    line-height: 250%;
}
.box4{
    margin-top: 5px;
    color: gray;
    background-color: whitesmoke;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 15px;
    border-radius: 5px;
    border-width: 1px;
    font-family: Arial, Helvetica, sans-serif;
    height: 1cm;
    padding-left: 2.5mm;
    line-height: 250%;
}
.box5{
    margin-top: 10px;
    color: white;
    background-color: orange;
    margin-left: 10%;
    margin-right: 10%;
    border-style: solid;
    font-size: 15px;
    border-radius: 5px;
    border-width: 1px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 250%;
    height: 1cm;
}

